/* Toastr custom styles*/
#toast-container {
}

#toast-container.toast-bottom-center > div, #toast-container.toast-top-center > div {
  margin: 10px auto 0;
}

#toast-container > .toast-info,
#toast-container > .toast-error,
#toast-container > .toast-warning,
#toast-container > .toast-success{
  background-image: none;
}

#toast-container > div {
  background: #fff;
  padding: 20px;
  color: #6a6c6f;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.2);
  opacity: 1;
}

.fa-1-5x{font-size: 1.5em;}
.navbar-right .dropdown-menu {
  right: 0;
  left: auto;
}
.dropdown-menu[x-placement^="bottom"], .dropdown-menu[x-placement^="left"], .dropdown-menu[x-placement^="right"], .dropdown-menu[x-placement^="top"] {
  right: auto;
  bottom: auto;
}
#toast-container > div:hover {
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.2);
}

.toast-close-button {
  color: #000;
  opacity: 0.2;
}

.toast-info {
  background: #fff;
  border-left: 6px solid #3498db;
}
.toast-success {
  background: #fff;
  border-left: 6px solid #62cb31;
}
.toast-warning {
  background: #fff;
  border-left: 6px solid #ffb606;
}
.toast-error {
  background: #fff;
  border-left: 6px solid #e74c3c;
}

.toast-progress {
  opacity: 0.6;
}

.toast-info .toast-progress {
  background-color: #3498db;
}
.toast-success .toast-progress {
  background-color: #62cb31;
}
.toast-warning .toast-progress {
  background-color: #ffb606;
}
.toast-error .toast-progress {
  background-color: #e74c3c;
}

.nav-tabs {
  border-bottom: 1px solid #e4e5e7;
  background: #f1f3f6;
  border-radius: 5px 5px 0 0;
}
.nav-tabs > li > a.active, .nav-tabs > li > a:hover, .nav-tabs > li > a:focus{
  color: #242a30;
  cursor: default;
  border-bottom:2px solid #3498db;
}
.tab-content{padding:15px;}
/* Nestable list */

.dd {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 13px;
  line-height: 20px;
}

.dd-list {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
}

.dd-list .dd-list {
  padding-left: 30px;
}

.dd-collapsed .dd-list {
  display: none;
}

.dd-item,
.dd-empty,
.dd-placeholder {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  min-height: 20px;
  font-size: 13px;
  line-height: 20px;
}

.dd-handle {
  display: block;
  margin: 5px 0;
  padding: 5px 10px;
  color: #333;
  text-decoration: none;
  border: 1px solid #e4e5e7;
  background: #f7f9fa;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.dd-handle span {
  font-weight: bold;
}

.dd-handle:hover {
  background: #f0f0f0;
  cursor: pointer;
  font-weight: bold;
}

.dd-item > button {
  display: block;
  position: relative;
  cursor: pointer;
  float: left;
  width: 25px;
  height: 20px;
  margin: 5px 0;
  padding: 0;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  border: 0;
  background: transparent;
  font-size: 12px;
  line-height: 1;
  text-align: center;
  font-weight: bold;
}

.dd-item > button:before {
  content: '+';
  display: block;
  position: absolute;
  width: 100%;
  text-align: center;
  text-indent: 0;
}

.dd-item > button[data-action="collapse"]:before {
  content: '-';
}

#nestable2 .dd-item > button {
  font-family: FontAwesome;
  height: 34px;
  width: 33px;
  color: #c1c1c1;

}

#nestable2 .dd-item > button:before {
  content: "\f067";
}

#nestable2 .dd-item > button[data-action="collapse"]:before {
  content: "\f068";
}

.dd-placeholder,
.dd-empty {
  margin: 5px 0;
  padding: 0;
  min-height: 30px;
  background: #f2fbff;
  border: 1px dashed #e4e5e7;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.dd-empty {
  border: 1px dashed #bbb;
  min-height: 100px;
  background-color: #e5e5e5;
  background-image: -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff), -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
  background-image: -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff), -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
  background-image: linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff), linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
  background-size: 60px 60px;
  background-position: 0 0, 30px 30px;
}

.dd-dragel {
  position: absolute;
  z-index: 9999;
  pointer-events: none;
}

.dd-dragel > .dd-item .dd-handle {
  margin-top: 0;
}

.dd-dragel .dd-handle {
  -webkit-box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, .1);
  box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, .1);
}

/**
* Nestable Extras
*/
.nestable-lists {
  display: block;
  clear: both;
  padding: 30px 0;
  width: 100%;
  border: 0;
  border-top: 2px solid #e4e5e7;
  border-bottom: 2px solid #e4e5e7;
}

#nestable-menu {
  padding: 0;
  margin: 10px 0 20px 0;
}

#nestable-output,
#nestable2-output {
  width: 100%;
  font-size: 0.75em;
  line-height: 1.333333em;
  font-family: open sans, lucida grande, lucida sans unicode, helvetica, arial, sans-serif;
  padding: 5px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

#nestable2 .dd-handle {
  color: inherit;
  border: 1px dashed #e4e5e7;
  background: #f7f9fa;
  padding: 10px;
}

#nestable2 .dd-handle:hover {
  /*background: #bbb;*/
}


#nestable2  span.label {
  margin-right: 10px;
}

#nestable-output,
#nestable2-output {
  font-size: 12px;
  padding: 25px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
#logo{background-color: #6093CC;height: 55px;
  padding-top: 15px;}
#header {
  background-color: #6093CC;
  color:#fff;
}

.nav.navbar-nav > li > a{
  font-size: 14px;
  font-weight: 600;
  color: #d8dadd;
}

.navbar-nav > li > a:hover, .navbar-nav > li > a:focus, .navbar-nav .open > a, .navbar-nav .open > a:hover, .navbar-nav .open > a:focus {
  color: #f7f8fa;
  background-color: transparent;
  border-bottom: none;
}


#wrapper{
  margin-left: 260px;
}
.nav-item.active .nav-link{
  color: #f7f8fa;
}
.detail{
  .label{
    font-size:inherit;
    color:inherit;
    padding:0px;
    padding-right:5px;
  }
}
.date-range{
  display: flex;
  .date-range-block{
    width: 50%;
    padding-left: 5px; padding-right: 5px;
    .label{font-weight: normal;margin-bottom: 0px;}
    &:first-child{padding-left: 0px}
    &:last-child{padding-right: 0px}
  }
}
.filter-block{
  padding:10px 10px;
  border-bottom: 1px solid #d2d6dd;
  label{
    font-weight:inherit;
  }
  .filter-header{
    margin-bottom:5px;
  }
  .filter-body{
    .v-select{background-color: #fff;}
    /*.vs__clear{display: none;}*/
  }
}
.text-green{ color: #62cb31;}

#overlay {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 10;
  cursor: pointer;
  .loader{
    position: absolute;
    left: 50%;
    top: 50%;
    margin:-10px;
  }
}

.input-group-wrapper{
  width: 100%;
  display: flex;
  align-items: flex-end;
  margin-bottom: 0px;
  .input-component{
    flex-wrap: wrap;
    width: 100%;
  }
  .full-width-input{
    width: 100%;
  }
  input.form-control{
    border-radius: 0 4px 4px 0 !important;
  }
  .select-box{
    position: relative;
    select{
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      cursor: pointer;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      border-right: transparent;
      border-radius: 4px 0 0 4px;
      line-height: inherit;
      padding-left: 5px;
    }
    .caret {
      display: block;
      position: absolute;
      margin: auto;
      z-index: 10;
      border-right: 4px solid transparent;
      border-left: 4px solid transparent;
      border-top: 5px solid #2c405a;
      pointer-events: none;
      top: 14px;
      right: 10px;
    }
  }
}
li.dropdown-item a{display: block;}
.pull-left{float: left;}
.pull-right{float: right;}
.shipped-danger, .cancelled-danger {
  a {color:#e74c3c;}
  border-top: 2px solid $red;
}

.notify {
  &.in-progress {
    border-left: 4px solid #f2ae43;
  }
  &.success {
    border-left: 4px solid #62cb31;
  }
  &.failed {
    border-left: 4px solid #e66051;
  }
}
.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 1.3rem;
  padding-left: 1.3rem;
}
.dropdown-item.active, .dropdown-item:active {
  color:#fff;
  background-color:#f1f3f6;
}
.table{color:#6a6c6f;}
.table th .sort-icon{padding-top: 3px;}
.table-condensed > thead > tr > th, .table-condensed > tbody > tr > th, .table-condensed > tfoot > tr > th, .table-condensed > thead > tr > td, .table-condensed > tbody > tr > td, .table-condensed > tfoot > tr > td {
  padding: 5px;
}
.dl-horizontal dt {
  float: left;
  width: 160px;
  overflow: hidden;
  clear: left;
  text-align: right;
  text-overflow: ellipsis;
  white-space: nowrap;

}
.dl-horizontal dd {
  margin-left: 180px;
}
dt {
  font-weight: bold;
}
.notification-count{
  position: absolute;
  top: 3px;
  left: 22px;
  width: 22px;
}
.v--modal-overlay{background: #fff!important;}
.pagination .btn.active{
  outline:0;
  -webkit-box-shadow:inset 0 3px 5px rgba(0, 0, 0, .125);
  box-shadow:inset 0 3px 5px rgba(0, 0, 0, .125);
  background:#fff;
  border-color:#e0e0e0;
  color:#606265;
}

.popover-header{
  margin-top: 0px!important;
}

.drop-active{
  position: absolute;
  height: 100%;
  left: 0; right: 0; top: 0; bottom: 0;
  background: rgba(0, 0, 0, 0.25) none repeat scroll 0% 0%;
  color: #fff;
  text-align: center;
}