.b-toast {
  display: block;
  position: relative;
  max-width: 350px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-clip: padding-box;
  z-index: 1;
  border-radius: 0.25rem;
  font-size: 14px;
}
.b-toaster {
  z-index: 1100;
}
.b-toaster.b-toaster-top-full{
  position: fixed;
  left: 0.5rem;
  right: 0.5rem;
  margin: 0;
  padding: 0;
  height: 0;
  overflow: visible;
}
.b-toaster.b-toaster-top-full {
  top: 0;
}

.b-toaster.b-toaster-top-full .b-toaster-slot {
  top: 0.5rem;
}
.b-toaster.b-toaster-top-full .b-toaster-slot {
  position: absolute;
  max-width: 350px;
  width: 100%;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0;
}
.b-toaster.b-toaster-top-full .b-toaster-slot {
  width: 100%;
  max-width: 100%;
}
.b-toaster .b-toaster-slot {
  position: relative;
  display: block;
}
.b-toaster .b-toaster-slot:empty {
  display: none !important;
}

.b-toast .toast {
  opacity: 1;
}
.b-toast-danger .toast {
  background-color: rgba(252, 236, 235, 0.85);
  border-color: rgba(247, 198, 197, 0.85);
  color: #761b18;
}
.b-toast.b-toast-solid .toast {
  background-color: white;
}
.b-toast-danger.b-toast-solid .toast {
  background-color: #fceceb;
}
.toast-header {
  display: flex;
  align-items: center;
  padding: 5px 5px;
  color: #6c757d;
  background-color: rgba(255, 255, 255, 0.85);
  background-clip: padding-box;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  border-bottom-color: rgba(0, 0, 0, 0.05);
}
.b-toast-danger .toast .toast-header {
  color: #761b18;
  background-color: rgba(249, 214, 213, 0.85);
  border-bottom-color: rgba(247, 198, 197, 0.85);
}
.b-toaster.b-toaster-top-full .b-toaster-slot .b-toast{
  width: 100%;
  max-width: 100%;
}
.toast-body {
  padding: 0.75rem;
}
.b-toast .toast .toast-body {
  display: block;
}
.d-flex {display: flex !important;}
.align-items-baseline {  align-items: baseline !important;}
.flex-grow-1 {flex-grow: 1 !important;}
.close {
  float: right;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.5;
}

.b-toast-success .toast {
  background-color: rgba(223, 244, 244, 0.85);
  border-color: rgba(184, 232, 232, 0.85);
  color: #005959;
}
.b-toast-success .toast .toast-header {
  color: #005959;
  background-color: rgba(204, 238, 238, 0.85);
  border-bottom-color: rgba(184, 232, 232, 0.85);
}
.b-toast-warning .toast {
  background-color: rgba(255, 254, 245, 0.85);
  border-color: rgba(255, 250, 204, 0.85);
  color: #857b26;
}
.b-toast-warning .toast .toast-header {
  color: #857b26;
  background-color: rgba(255, 251, 219, 0.85);
  border-bottom-color: rgba(255, 250, 204, 0.85);
}