<template>
    <div>
        <router-view></router-view>
    </div>
</template>

<script>
    export default {
        name: "Index",
        props: [],
        data() {
            return {}
        },
        mounted() {
        },
        watch: {},
        methods: {},
    }
</script>

<style scoped>

</style>