<template>
    <div class="row" id="order-reports">
        <div class="hpanel">
            <div class="panel-heading hbuilt">
                Orders Report
                <div class="pull-right">
                    <a href="javascript:void (0);" class="btn btn-sm btn-primary" style="margin-top: -5px; margin-right:-5px;" title="Download as csv" @click="downloadCSV"><i class="fa fa-download" ></i> Download</a>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-12">
                        <loading-spinner label="Loading Order Reports" :show="isLoading"></loading-spinner>
                        <vuetable ref="order_report"
                                  :api-url="apiurl"
                                  :fields="fields"
                                  :css="css.table"
                                  data-path="data"
                                  :per-page="20"
                                  :append-params="filters"
                                  :query-params="makeQueryParams"
                                  pagination-path=""
                                  @vuetable:loading="onLoading"
                                  @vuetable:loaded="onLoaded"
                                  @vuetable:pagination-data="onPaginationData"
                        >

                        </vuetable>
                        <vuetable-pagination-info ref="paginationInfo" class="pull-left" no-data-template="">

                        </vuetable-pagination-info>
                        <vuetable-pagination ref="pagination"
                                             :css="css.pagination"
                                             class="pull-right"
                                             @vuetable-pagination:change-page="onChangePage">
                        </vuetable-pagination>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
     import settings from '../../config/Settings';
     import VueTableCSS from "../../config/VueTable";
     import VuetablePagination from 'vuetable-2/src/components/VuetablePagination';
     import VuetablePaginationInfo from 'vuetable-2/src/components/VuetablePaginationInfo';
     import LoadingSpinner from "../ui/LoadingSpinner";
     import OrderReport from "../../util/OrderReport";
     export default {
        data() {
            return {
                isDownload: false,
                tableDownloadData: [],
                css: VueTableCSS,
                brData : "ddddd",
                isLoading: true,
                gsettings: settings,
                apiurl: settings.apiBaseEndPoint+'/report/orders',
                el: '#order-reports',
                filters: OrderReport.get(),
                //afilters: filters,
                fields: [
                    {name: 'OrderId', sortField: 'OrderId', title: 'Order ID'},
                    {name: 'order.OrderNo', sortField: 'order.OrderNo', title: 'Order Number'},
                    {name: 'order.created_at', sortField: 'order.created_at', title: 'Created Date',
                        callback: (value)=>{ return this.$filters.datetime(value) }
                    },
                    {name: 'order.OrderDate', sortField: 'order.OrderDate', title: 'Order Date',
                        callback: (value)=>{ return this.$filters.datetime(value) }
                    },
                    {name: 'Sku', sortField: 'Sku', title: 'SKU'},
                    {name: 'OrderItemId', sortField: 'OrderItemId', title: 'Line Number'},

                ]
            }
        },
         created() {
             this.$settings.hideSideBar = true;
         },
         beforeRouteLeave (to, from, next) {
             this.$settings.hideSideBar = false;
             next();
         },
         components: {
             VuetablePagination, VuetablePaginationInfo,LoadingSpinner
         },
         methods: {
            makeQueryParams (sortOrder, currentPage, perPage) {
                return {
                    orderBy: sortOrder.length > 0? sortOrder[0].field: '',
                    byColumn: sortOrder.length > 0? sortOrder[0].direction: '',
                    page: currentPage,
                    limit: perPage
                }
            },
             onLoading(){
                 this.isLoading = true;
             },
             onLoaded(){
                 this.isLoading = false;
             },
            onPaginationData (paginationData) {
                this.$refs.pagination.setPaginationData(paginationData);
                this.$refs.paginationInfo.setPaginationData(paginationData);
            },
            onChangePage(page) {
                this.$refs.order_report.changePage(page);
            },

             downloadCSV() {

                 let d = this.filters;
                 var url = '/report/order-download?'+Object.keys(d).map(function(k) {
                     return encodeURIComponent(k) + '=' + encodeURIComponent(d[k])
                 }).join('&');
                 window.open(url);
             }
        },
        mounted() {
            this.$root.$on('loadOrderReport', (p) => {
                this.filters =p;
                this.$nextTick( () => this.$refs.order_report.refresh() );

            });
        }
    }
</script>
