<template>
    <div class="row" id="orders">
        <div class="hpanel">
            <div class="panel-heading hbuilt">
                Batching Report
                <div class="pull-right">
                    <a class="btn btn-sm btn-primary" href="javascript:void(0);" style="margin-top: -5px; margin-right:-5px;" title="Download as csv" @click="downloadCSV"><i class="fa fa-download" ></i> Download</a>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-12">
                        <loading-spinner label="Loading Reports" :show="isLoading"></loading-spinner>
                        <vuetable ref="batch_report"
                                  :api-url="apiurl"
                                  :fields="fields"
                                  :css="css.table"
                                  data-path="data"
                                  :per-page="20"
                                  :append-params="filters"
                                  :query-params="makeQueryParams"
                                  pagination-path=""
                                  @vuetable:loading="onLoading"
                                  @vuetable:loaded="onLoaded"
                                  @vuetable:pagination-data="onPaginationData"

                        >
                            <template slot="actions" slot-scope="props">
                                <router-link :to="'/orders/details/'+props.rowData.OrderId" class="action" title="View Details">
                                    <i class="fa fa-info-circle" aria-hidden="true"></i>
                                </router-link>
                            </template>
                        </vuetable>
                        <vuetable-pagination-info ref="paginationInfo" class="pull-left" no-data-template="">

                        </vuetable-pagination-info>
                        <vuetable-pagination ref="pagination"
                                             :css="css.pagination"
                                             class="pull-right"
                                             @vuetable-pagination:change-page="onChangePage">
                        </vuetable-pagination>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
     import settings from '../../config/Settings';
     import VueTableCSS from "../../config/VueTable";
     import VuetablePagination from 'vuetable-2/src/components/VuetablePagination';
     import VuetablePaginationInfo from 'vuetable-2/src/components/VuetablePaginationInfo';
     import Batch from "../../util/Batch";
     import LoadingSpinner from "../ui/LoadingSpinner";
     export default {
        data() {
            return {
                isDownload: false,
                tableDownloadData: [],
                css: VueTableCSS,
                brData : "ddddd",
                isLoading: true,
                gsettings: settings,
                apiurl: settings.apiBaseEndPoint+'/report/batches',
                el: '#orders',
                filters: Batch.get(),
                //afilters: filters,
                fields: [
                    {name: 'PO', sortField: 'PO', title: 'PO'},
                    {name: 'BatchID', sortField: 'BatchID', title: 'Batch ID'},
                    {name: 'GroupType', sortField: 'GroupType', title: 'Group Type'},
                    {name: 'pickgroup', sortField: 'pickgroup', title: 'Pick Group', width: "100px"},
                    {name: 'orders', sortField: 'orders', title: 'Orders'},
                    {name: 'ThreeplBatchID', sortField: 'ThreeplBatchID', title: '3PLID'},
                ]
            }
        },
         created() {
             this.$settings.hideSideBar = true;
         },
         beforeRouteLeave (to, from, next) {
             this.$settings.hideSideBar = false;
             next();
         },
         components: {
             VuetablePagination, VuetablePaginationInfo,LoadingSpinner
         },
         methods: {
            makeQueryParams (sortOrder, currentPage, perPage) {
                return {
                    orderBy: sortOrder.length > 0? sortOrder[0].field: '',
                    byColumn: sortOrder.length > 0? sortOrder[0].direction: '',
                    page: currentPage,
                    limit: perPage
                }
            },
             onLoading(){
                 this.isLoading = true;
             },
             onLoaded(){
                 this.isLoading = false;
             },
            onPaginationData (paginationData) {
                this.$refs.pagination.setPaginationData(paginationData);
                this.$refs.paginationInfo.setPaginationData(paginationData);
            },
            onChangePage(page) {
                this.$refs.batch_report.changePage(page);
            },
             downloadCSV() {

                 let d = this.filters;
                 var url = '/report/download/?'+Object.keys(d).map(function(k) {
                     return encodeURIComponent(k) + '=' + encodeURIComponent(d[k])
                 }).join('&');
                 window.open(url);
             }
        },
        mounted() {
            this.$root.$on('loadReports', (p) => {
                this.filters =p;
                this.$nextTick( () => this.$refs.batch_report.refresh() );
                //this.$refs.batch_report.reload();
            });
        }
    }
</script>
