<template>
    <div>
        <!--[if lt IE 7]>
        <p class="alert alert-danger">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!--Top Navigation -->
        <Header></Header>

        <!--Side bar pannel -->
        <Sidebar v-if="settings.hideSideBar"></Sidebar>

        <!-- Main Wrapper -->
        <div id="wrapper" v-bind:style="!settings.hideSideBar ? 'margin-left: 0px; min-height:'+height+'px' : 'min-height:'+height+'px'">
            <!--<div class="normalheader  small-header">
                <div class="hpanel">
                    <div class="panel-body">
                        <div id="hbreadcrumb" class="pull-right">
                            <ol class="hbreadcrumb breadcrumb" v-if="brData.length > 0">
                                <router-link v-bind:to="{'name': 'dashboard'}" active-class="" class="" tag="li" >
                                    <a class="">Dashboard</a>
                                </router-link>
                                <template v-for="row in brData">
                                    <router-link v-bind:to="{'name': row.route}" active-class="" class="" tag="li" >
                                        <a class="">{{ row.title }}</a>
                                    </router-link>
                                </template>
                            </ol>
                        </div>
                        <h2 class="font-light m-b-xs" id="btid">{{ bTitle }}</h2>
                        <small></small>
                    </div>
                </div>
            </div>-->
            <div class="content" id="app">
                <router-view @update-breadcrumb="updateBreadCrumb"></router-view>
            </div>

            <footer class="footer">
                <span class="pull-left">
                    <strong>{{ this.application.name }}</strong> - Copyright @ 2020
                </span>
            </footer>
        </div>
        <b-toast id="message_alert" :variant="variant" solid :toaster="position">
            <template v-slot:toast-title>
                <div class="d-flex flex-grow-1 align-items-baseline">
                    {{ message.message }}
                </div>
            </template>
            <ul v-if="message.errors">
                <template v-for="(item, index) in message.errors">
                    <li><template v-for="row in item">
                        {{ row }}<br>
                    </template>

                    </li>
                </template>
            </ul>
            <p v-if="message.text">{{ message.text }}</p>
        </b-toast>
    </div>
</template>

<script>
    import Header from './components/elements/Header'
    import Sidebar from './components/elements/Sidebar'
    import settings from "./config/Settings"

    export default {
        name: "app",
        components: {
            Header,
            Sidebar,
        },
        data(){
            return {
                jobs: 0,
                timer: '',
                bTitle:'',
                message:{},
                position: 'b-toaster-top-full',
                brData:[],
                height: 500,
                user: this.$user,
                application: this.$app,
                settings: settings,
            }
        },
        computed:{
            variant(){
                return this.message.type ? this.message.type : (this.message.errors ? 'danger': '');
            }
        },
        created(){
            this.bTitle = this.$route.meta.breadcrumb;
            window.addEventListener('resize', this.handleResize)
            this.handleResize();

            //this.fetchEventsList();
        },
        watch: {
            '$route' () {
                this.bTitle = this.$route.meta.breadcrumb;
                this.brData = [];
            },
        },
        mounted() {
            //console.log('App mounted.', this.user);
            //console.log(settings.hideSideBar);
            this.$root.$on('showAlert', (data)=>{
                this.message = data;
                this.$bvToast.show('message_alert');
            });
        },
        methods:{
            handleResize() {
                this.width = window.innerWidth;
                this.height = window.innerHeight- (65);
            },
            updateBreadCrumb(data){
                if(data){
                    this.brData = data;
                }

            }
        }

    }
</script>
<style scoped>

</style>
