
// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

@import "~pc-bootstrap4-datetimepicker/src/sass/bootstrap-datetimepicker-build.css";

@import "style/style";

@import "style/toast";
@import "style/custom";