<template>
    <div>
        <form action="" @submit="doSearch">
            <div class="filter-block">
                <div class="filter-header">
                    User
                </div>
                <div class="filter-body">
                    <input v-model="notification_search.user_name" class="form-control form-control-sm" placeholder="User Name">
                </div>
            </div>
            <div class="filter-block">
                <div class="filter-header mb-2">
                    Dates
                </div>
                <div class="filter-body">
                    <div class="">
                        <div class="input-group date">
                            <label >Created After</label>
                            <div class="input-group">
                                <datetime-picker id="start_date" class="form-control-sm" v-model="notification_search.startDate" :config="options" style="font-size:13px"></datetime-picker>
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="">
                        <label>Created Before</label>
                        <div class="input-group">
                            <datetime-picker id="end_date" v-model="notification_search.endDate" class="form-control-sm" :config="options" style="font-size:13px"></datetime-picker>
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="filter-block">
                <div class="filter-header">
                    Status
                </div>
                <div class="filter-body">
                    <b-form-select v-model="notification_search.status" class="form-control" size="sm" :options="nstatusses" style="font-size:13px" id="notif_status"></b-form-select>
                </div>
            </div>
            <div class="filter-block no-borders">
                <div class="filter-body">
                    <button type="submit" class="btn btn-primary btn-sm pull-right"><i class="fa fa-search"></i> Search</button>
                    <button type="button" class="btn btn-default btn-sm" @click="resetSearch"><i class="fa fa-refresh"></i> Reset</button>
                </div>
            </div>
        </form>
    </div>
</template>

<script>

    import asettings from '../../../config/Settings';
    import Notification from "../../../util/Notification";

    let nFilters = Object.assign(Notification.filter);
    export default {
        name: "noti_filters",
        data() {
          return {
              nstatusses: [],
              settings : asettings,
              notification_search: Notification.get(),
              options: {
                  format: asettings.DATETIMEFORMAT,
                  useCurrent: false,
                  sideBySide: true
              }
          }
        },
        methods:{
            doSearch(e) {
                e.preventDefault();
                Notification.set(this.notification_search);
                this.$root.$emit('loadNotifications', this.notification_search);

            },
            resetSearch(e) {
                this.notification_search = {...nFilters};
                this.doSearch(e);
            }
        },
        components: {

        },
        mounted() {
            this.nstatusses.push({value: '', text: 'Please select status'});
            for (var key in this.settings.notifStatusses) {
                this.nstatusses.push({"value":key, "text":this.settings.notifStatusses[key]});
            };
        }

    }
</script>

<style scoped>

</style>
