<template>
    <div>
        <form action="" @submit="doSearch">
            <div class="filter-block">
                <div class="filter-header">
                    Order ID
                </div>
                <div class="filter-body">
                    <input v-model="order_report_search.OrderId" class="form-control form-control-sm" placeholder="Order ID">
                </div>
                <div class="filter-header">
                    Order Number
                </div>
                <div class="filter-body">
                    <input v-model="order_report_search.orderNo" class="form-control form-control-sm" placeholder="Order Number">
                </div>
            </div>

            <div class="filter-block">
                <div class="filter-header mb-2">
                   Order Dates
                </div>
                <div class="filter-body">
                    <div class="">
                        <div class="input-group date">
                            <label >Created After</label>
                            <div class="input-group">
                                <datetime-picker id="ostart_date" class="form-control-sm" v-model="order_report_search.ostartDate" :config="options" style="font-size:13px"></datetime-picker>
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="">
                        <label>Created Before</label>
                        <div class="input-group">
                            <datetime-picker id="oend_date" v-model="order_report_search.oendDate" class="form-control-sm" :config="options" style="font-size:13px"></datetime-picker>
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="filter-block">
                <div class="filter-header">
                    SKU
                </div>
                <div class="filter-body">
                    <input v-model="order_report_search.sku" class="form-control form-control-sm" placeholder="SKU">
                </div>
            </div>

            <div class="filter-block no-borders">
                <div class="filter-body">
                    <button type="submit" class="btn btn-primary btn-sm pull-right"><i class="fa fa-search"></i> Search</button>
                    <button type="button" class="btn btn-default btn-sm" @click="resetSearch"><i class="fa fa-refresh"></i> Reset</button>
                </div>
            </div>
        </form>
    </div>
</template>

<script>

    import asettings from '../../../config/Settings';
    import OrderReport from "../../../util/OrderReport";

    let oRFilters = Object.assign(OrderReport.filter);
    export default {
        name: "order-report-filter",
        data() {
          return {
              orstatusses: [],
              settings : asettings,
              order_report_search: OrderReport.get(),
              options: {
                  format: asettings.DATETIMEFORMAT,
                  useCurrent: false,
                  sideBySide: true
              }
          }
        },
        methods:{
            doSearch(e) {
                e.preventDefault();
                OrderReport.set(this.order_report_search);
                this.$root.$emit('loadOrderReport', this.order_report_search);

            },
            resetSearch(e) {
                this.order_report_search = {...oRFilters};
                this.doSearch(e);
            }
        },
        components: {

        },
        mounted() {
            this.orstatusses.push({value: '', text: 'Please select status'});
            for (var key in this.settings.orderReportStatusses) {
               this.orstatusses.push({"value":key, "text":this.settings.orderReportStatusses[key]});
            };
        }

    }
</script>

<style scoped>

</style>
