<template>
    <div>
        <form action="" @submit="doSearch">
            <div class="filter-block">
                <div class="filter-header">
                    Order ID
                </div>
                <div class="filter-body">
                    <input v-model="order_search.transactionId" class="form-control form-control-sm" placeholder="Order ID">
                </div>
                <div class="filter-header">
                    Reference No.
                </div>
                <div class="filter-body">
                    <input v-model="order_search.referenceNo" class="form-control form-control-sm" placeholder="Reference No">
                </div>
                <div class="filter-header">
                    Order No.
                </div>
                <div class="filter-body">
                    <input v-model="order_search.orderNo" class="form-control form-control-sm" placeholder="Order No">
                </div>


            </div>
            <div class="filter-block">
                <div class="filter-header mb-2">
                    Dates
                </div>
                <div class="filter-body">
                    <div class="">
                        <div class="input-group date">
                            <label >Created After</label>
                            <div class="input-group">
                                <datetime-picker id="start_date" class="form-control-sm" v-model="order_search.startDate" :config="options" style="font-size:13px"></datetime-picker>
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="">
                        <label>Created Before</label>
                        <div class="input-group">
                            <datetime-picker id="end_date" v-model="order_search.endDate" class="form-control-sm" :config="options" style="font-size:13px"></datetime-picker>
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="filter-block">
                <div class="filter-header">
                    Status
                </div>
                <div class="filter-body">
                    <b-form-select v-model="order_search.status" class="form-control" size="sm" :options="ostatusses" style="font-size:13px" id="order_status"></b-form-select>
                </div>
            </div>
            <div class="filter-block no-borders">
                <div class="filter-body">
                    <button type="submit" class="btn btn-primary btn-sm pull-right"><i class="fa fa-search"></i> Search</button>
                    <button type="button" class="btn btn-default btn-sm" @click="resetSearch"><i class="fa fa-refresh"></i> Reset</button>
                </div>
            </div>
        </form>
    </div>
</template>

<script>

    import asettings from '../../../config/Settings';
    import Order from "../../../util/Order";

    let oFilters = Object.assign(Order.filter);
    export default {
        name: "orders-filter",
        data() {
            return {
                ostatusses: [],
                settings : asettings,
                order_search: Order.get(),
                options: {
                    format: asettings.DATETIMEFORMAT,
                    useCurrent: false,
                    sideBySide: true
                }
            }
        },
        methods:{
            doSearch(e) {
                e.preventDefault();
                Order.set(this.order_search);
                this.$root.$emit('loadOrders', this.order_search);

            },
            resetSearch(e) {
                this.order_search = {...oFilters};
                this.doSearch(e);
            }
        },
        components: {

        },
        mounted() {
            this.ostatusses.push({value: '', text: 'Please select status'});
            for (var key in this.settings.orderStatusses) {
                this.ostatusses.push({"value":key, "text":this.settings.orderStatusses[key]});
            };
        }

    }
</script>

<style scoped>

</style>
