<template>
    <div>
        <div class="filter-block">
            <div class="filter-header">
                Batched :
                <span v-if="odetails.BatchID !=null">Yes <span v-if="odetails.ReadyForUpload !=null">({{odetails.ReadyForUpload | datetime}})</span></span>
                <span v-else>No</span>
            </div>
        </div>
        <div class="filter-block">
            <div class="filter-header">
                Shipped :
                <span v-if="odetails.Status ==1">Yes <span v-if="odetails.ShippedDate !=null">({{odetails.ShippedDate | datetime}})</span></span>
                <span v-else>No</span>
            </div>

        </div>

    </div>
</template>

<script>
    export default {
        name: "order-details",
        data() {
            return {

                options: {
                    sideBySide: true
                },
                odetails:[]
            }
        },
        methods:{

        },
        components: {

        },
        mounted() {
            this.$root.$on('loadOrderDetails', (p) => {
                this.odetails =p;
            });

        }

    }
</script>

<style scoped>

</style>
