<template>
    <div>
        <div class="filter-block">
            <div class="filter-header">
                SKU
            </div>
            <div class="filter-body">
                <div class="filter-body">
                    <div class="input-group-wrapper">
                        <div class="input-component">
                            <div class="select-box">
                                <b-form-select v-model="product_search.sku_type" value-field="id" class="form-control" size="sm" :options="filter_types" id="product_upc_type"></b-form-select>
                            </div>
                        </div>
                        <div class="input-component">
                            <input v-model="product_search.sku" class="form-control form-control-sm" id="sku" placeholder="SKU">
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="filter-block">
            <div class="filter-header">
                UPC
            </div>
            <div class="filter-body">
                <div class="input-group-wrapper">
                    <div class="input-component">
                        <div class="select-box">
                            <b-form-select v-model="product_search.upc_type" value-field="id" class="form-control" size="sm" :options="filter_types" id="product_upc_type"></b-form-select>
                        </div>
                    </div>
                    <div class="input-component">
                        <input v-model="product_search.upc" class="form-control form-control-sm"  id="upc" placeholder="UPC">
                    </div>
                </div>
            </div>
        </div>

        <div class="filter-block no-borders">
            <div class="filter-body">
                <button type="button" class="btn btn-primary btn-sm pull-right" @click="doSearch"><i class="fa fa-search"></i> Search</button>
                <button type="button" class="btn btn-default btn-sm" @click="resetSearch"><i class="fa fa-refresh"></i> Reset</button>
            </div>
        </div>
    </div>
</template>

<script>
    import Product from "../../../util/Product";
    import asettings from '../../../config/Settings';
    let pfilters = Object.assign(Product.filter);

    export default {
        name: "products-filter",
        data() {
            return {
                ostatusses: [],
                filter_types: [],
                settings : asettings,
                product_search: Product.get(),
                options: {
                    sideBySide: true
                }
            }
        },
        methods:{
            doSearch() {
                Product.set(this.product_search);
                this.$root.$emit('loadProducts', this.product_search);
            },
            resetSearch() {
                // reset filters values //
                this.product_search = {...pfilters};
                this.doSearch();
            }
        },
        components: {

        },
        mounted() {
            this.ostatusses = this.settings.productStatusses;
            this.filter_types = this.settings.productFilterType;

        }

    }
</script>

<style scoped>

</style>
