<template>
    <div>
        <div class="filter-block">
            <div class="filter-header">
                Batch ID
            </div>
            <div class="filter-body">
                <input v-model="filters.batchID" class="form-control input-sm" id="sKeyword" placeholder="Batch Id">
            </div>
        </div>
        <div class="filter-block">
            <div class="filter-header">
                3PL ID
            </div>
            <div class="filter-body">
                <input v-model="filters.threepldid" class="form-control input-sm" id="3plid" placeholder="3PL Id ">
            </div>
        </div>
        <div class="filter-block">
            <div class="filter-header mb-2">
                Batching Date
            </div>
            <div class="filter-body">
                <b-form-select v-model="filters.dates" value-field="id" class="form-control input-sm" :options="datesOptions" style="font-size:13px" id="batch_dates"></b-form-select>
            </div>
        </div>
        <div class="filter-block">
            <div class="filter-header">
                Machine Packing
            </div>
            <div class="filter-body">
                <b-form-select v-model="filters.mp" value-field="id" class="form-control input-sm" :options="mpOptions" style="font-size:13px" id="batch_mp"></b-form-select>
            </div>
        </div>

        <div class="filter-block no-borders">
            <div class="filter-body">
                <button type="button" class="btn btn-primary btn-sm pull-right" @click="doSearch"><i class="fa fa-search"></i> Search</button>
                <button type="button" class="btn btn-default btn-sm" @click="resetSearch"><i class="fa fa-refresh"></i> Reset</button>
            </div>
        </div>
    </div>
</template>

<script>

    import asettings from '../../../config/Settings';
    import Batch from "../../../util/Batch";

    let reportFilters = Object.assign(Batch.filter);

    export default {
        name: "reports-filter",
        data() {
          return {
              filters: Batch.get(),
              batchFilters: {},
              datesOptions: [
                  {id: '', text:"All"},
                  {id: '1', text:"Today"},
                  {id: '2', text:"Yesterday"},
              ],
              mpOptions: [
                  {id: '', text:"No"},
                  {id: '1', text:"Yes"},
              ],
              options: {
                  format: asettings.DATETIMEFORMAT,
                  useCurrent: false,
                  sideBySide: true
              }
          }
        },
        computed: {

        },
        methods:{
            doSearch() {
                Batch.set(this.filters);
                //localStorage.setItem('batch_filters', JSON.stringify(this.filters));
                this.$root.$emit('loadReports', this.filters);
            },
            resetSearch() {
                // reset filters values //
                this.filters = {...reportFilters};
                this.doSearch();
            }
        },
        components: {

        },
        mounted() {

        }

    }
</script>

<style scoped>

</style>
