<template>
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="text-center batching">
                <!--<button type="button" v-if="this.startQueue" class="btn btn-primary btn-lg mb-4" onclick="$(this).hide();" @click="startBatching()">
                    Start Batching process
                </button>-->
                <div class="btn-group " v-if="this.startQueue">
                    <button data-toggle="dropdown" class="btn btn-primary btn-lg mb-4 dropdown-toggle"> Start Batching process <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li v-for="(bt, k) in batchTypes"><a href="javascript: void(0)" @click="startBatching(k)">{{bt}}</a></li>
                    </ul>
                </div>
            </div>
            <br>

        </div>
        <div class="col-md-10 col-lg-6 offset-md-1 offset-lg-3" v-if="showAgeing">
            <div class="row">
                <div class="hpanel hblue">
                    <div class="panel-heading hbuilt">
                        Ageing Orders By Date
                        <div class="pull-right">

                        </div>
                    </div>
                    <div class="panel-body no-padding">
                        <div class="row">
                            <div class="col-sm-12" v-if="isLoader"> Loading Orders...</div>
                            <div class="col-sm-12 table-responsive" v-else>
                                <table class="table table-bordered table-condensed">
                                    <thead>
                                    <tr>
                                        <th width="5%" class="text-center"><input type='checkbox' @click='checkAll()' v-model='isCheckAll'></th>
                                        <th>Order Count</th>
                                        <th>Order Date</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    <tr v-for="(abd, index) in abdata">
                                        <td class="text-center"><input type='checkbox' v-bind:value='abd.created_date' v-model='bdates' @change='updateCheckall()'></td>
                                        <td>{{abd.cntr}}</td>
                                        <td>{{abd.created_date | date}}</td>
                                    </tr>
                                    <tr v-if="abdata.length > 0">
                                        <td class="text-center" colspan="3" >
                                            <button class="btn btn-primary btn-sm " @click="setBatchByDate">Batch</button>
                                        </td>
                                    </tr>
                                    <tr v-if="isNoData">
                                        <td colspan="3" >No data found</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-10 col-lg-6 offset-md-1 offset-lg-3">
            <JobQueues v-on:processQueue="processQueue($event)" ref="jobQueueList"></JobQueues>
        </div>
    </div>
</template>

<script>
    import JobQueues from './elements/JobQueues';


    export default {
        data() {
            return {
                startQueue: false,
                batchTypes: this.$settings.batchingTypes,
                showAgeing: false,
                abdata : [],
                isNoData : false,
                isLoader : false,
                batchType : '',
                isCheckAll: false,
                bdates: []

            }
        },
        components: {
            JobQueues
        },
        created() {
            this.$settings.hideSideBar = false;
        },
        beforeRouteLeave (to, from, next) {
            this.$settings.hideSideBar = false;
            next();
        },
        methods: {
            checkAll: function(){

                this.isCheckAll = !this.isCheckAll;
                this.bdates = [];
                if(this.isCheckAll){ // Check all
                    for (var key in this.abdata) {
                        this.bdates.push(this.abdata[key].created_date);
                    }
                }
            },
            updateCheckall: function(){
                if(this.bdates.length == this.abdata.length){
                    this.isCheckAll = true;
                }else{
                    this.isCheckAll = false;
                }
            },

            setBatchByDate() {
              if(this.bdates.length == 0) {
                  let data = {
                      "message": "Batching"
                  };
                  data.errors = [{"Row":"Please select a row for batching"}];
                  data.type = 'danger';
                  this.$root.$emit('showAlert', data);

                  return false;
              }
              this.queueJob(this.batchType, this.bdates.join('|'));
            },
            startBatching(bt) {
                this.batchType = bt;
                if(bt == 3) {
                    this.showAgeing = true;
                    this.isLoader = true;

                    // get orders data //
                    axios
                        .get('/get-ageing-batch-order')
                        .then(response => {
                            if(response.data.length > 0){
                                this.abdata = response.data;

                            }else{
                                this.isNoData = true;
                            }

                            this.isLoader = false;
                        })
                        .catch(e => {
                            $('#overlay').hide();
                            this.ferr = 'some thing went wrong. please try again';
                        });

                } else {
                    this.queueJob(bt, '');
                }
            },

            queueJob(bt, bd) {
                axios.get('/start-order-batching?bt='+bt+'&bd='+bd, {})
                    .then(response => {
                        if(response.status == 200) {
                            $('.uloader').html('<span class="text-success">Data saved successfully</span>');

                            // call task list //
                            this.showAgeing = false;
                            this.processQueue(false);
                            this.$root.$emit('loadJobs', []);

                        } else {
                            $('.uloader').html('<span class="text-danger">'+response.msg+'</span>');
                        }

                    })
                    .catch(e => {
                        $('.uloader').html('<span class="text-danger">'+e+'</span>');
                    })
            },
            processQueue(val){
                console.log("start queue called");
                this.startQueue = val;
            }
        },
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
