<template>
    <div>
        <div class="row">
            <div class="col-lg-12 text-center welcome-message">
                <h2>
                    Welcome {{ this.user.name }}
                </h2>

                <p>
                    Manage your resources
                </p>
                <p>&nbsp;</p>
            </div>
        </div>

        <!--div class="hpanel">
            <div class="panel-heading hbuilt">
                //
            </div>
            <div class="panel-body stats">
                <div class="row">

                </div>
            </div>
        </div-->

    </div>
</template>

<script>
    import DashboardDetails from './DashboardDetails';
    import OrdersInfo from "./modals/OrdersInfo";
    import LoadingSpinner from "./ui/LoadingSpinner";
    import Order from "../util/Order";
    let oFilters = Object.assign(Order.filter);

    let coptions =  {

        tooltips: {
            mode: 'index',
            intersect: false,
        },
        legend : {
            "position": "bottom"
        },
        responsive:true,
        maintainAspectRatio: false,
        'onClick' : function (evt, item) {
            console.log ('legend onClick', evt);
            console.log('legd item', item);
        }
    };

    export default {
        data(){
            return {
                CSOData : {

                    shipping_error: 0,
                    open_orders: 0
                },

                user: this.$user,
                isLoading: true,
                loaded: false,
                csloaded: false,

                orders_info_show: false

            }
        },
        components: {
            DashboardDetails, OrdersInfo, LoadingSpinner
        },
        methods: {
            getData(){


            },
            resetFilter() {
                this.getData();
            },
            showDetails(d){
                this.orderid = '';
                this.orderid = d;

                this.$modal.show(DashboardDetails,
                    {
                        orderid: this.orderid
                    }, {
                        name: "Dashboard Details",
                        width: "50%",
                        height: "60%",
                        clickToClose: false,
                        classes: "modal",
                        scrollable: true
                    }
                );
            },

            reDirectToOrder() {
                oFilters.status = 0;
                Order.set(oFilters);
                this.$router.push('orders');
            }
        },
        async  mounted() {


            this.getData();

            this.$root.$on('bv::modal::hidden', (bvEvent, modalId) => {
                if (modalId == 'orders-info')
                    this.orders_info_show = false;

            })
        },
        created() {
            this.$settings.hideSideBar = false;
        },
        beforeRouteLeave (to, from, next) {
            this.$settings.hideSideBar = false;
            next();
        }
    }
</script>
<style>
    .cursor {
        cursor: pointer;
    }
    .stats-icon{
        position: absolute; right: 10px;
    }
    .stats.panel-body{padding-bottom: 0px;}
    .stats-icon svg{
        max-width: 60px;
        max-height: 60px;
        fill:#fff;
    }
</style>