<template>
    <div>
        <div class="row" >
            <strong class="pull-left" style="font-size:18px;">Dashboard Details</strong>
            <span @click="$emit('close')" class="pull-right" style="cursor: pointer"><i class="fa fa-close"></i></span>
            <br>
            <hr>
        </div>
    </div>
</template>

<script>
    export default {
        data(){
            return {
                user: this.$user,
            }
        },
        mounted() {
            console.log('Component mounted.')
        },
        created() {
            this.$settings.hideSideBar = false;
        },
        beforeRouteLeave (to, from, next) {
            this.$settings.hideSideBar = false;
            next();
        }
    }
</script>
