<template>
  <div class="row">
    <div class="col-lg-6 col-sm-12 offset-lg-3">
      <div class="hpanel">
        <div class="panel-heading hbuilt">
          Create Orders
        </div>
        <div class="alert alert-warning">
          <i class="fa fa-warning"></i>
          Select CSV files, Click <a class='btn btn-warning btn-xs' href='javascript:void(0)' @click="downloadSample()">here</a> to download template file
        </div>
        <div class="panel-body">
          <loading-spinner label="Processing Files" :show="isLoading"></loading-spinner>

          <div class="col-sm-12" style="margin-bottom: 15px;border: 1px solid #e9e9e9;padding: 15px">
            <div class="upload">
              <ul v-if="uploadedFiles.length">
                <li v-for="file in uploadedFiles" :key="file.id">
                  <span>{{file.name}}</span>
                  <span v-if="file.error">{{file.error}}</span>
                  <span v-else-if="file.success">success</span>
                  <span v-else-if="file.active">active</span>
                  <span v-else></span>
                </li>
              </ul>
            </div>

            <file-upload
                class="text-green btn"
                :multiple="true"
                :drop="true"
                :drop-directory="false"
                v-model="uploadedFiles"
                ref="files">Add More or Drop files
            </file-upload>
            <div v-show="$refs.files && $refs.files.dropActive" class="drop-active">
              <h3>Drop files to upload</h3>
            </div>
          </div>


          <div class="large-12 medium-12 small-12" v-if="uploadError || uploadSuccess" style="margin-bottom: 12px">
            <div class="col-sm-12 alert alert-success" v-if="uploadSuccess" v-html="uploadSuccess"></div>
            <div class="col-sm-12 alert alert-danger mt-2" v-if="uploadError" v-html="uploadError"></div>
          </div>
          <div class="large-12 medium-12 small-12">
            <button type="button" @click="submitFiles()" :disabled="uploadedFiles.length==0 " class="btn btn-primary btn-md mb-4"> <i class="fa fa-upload"></i> Upload</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import LoadingSpinner from "./ui/LoadingSpinner";

export default {
  data() {
    return {
      isLoading : false,
      uploadError: '',
      uploadSuccess: '',
      uploadedFiles: [],
      extensions: 'csv',
      oldDownloadFile : ''
    }
  },
  components: {
    LoadingSpinner
  },
  created() {
    this.$settings.hideSideBar = false;
  },
  beforeRouteLeave (to, from, next) {
    this.$settings.hideSideBar = false;
    next();
  },
  methods: {
    submitFiles() {
      this.uploadError = '';
      this.uploadSuccess = '';

      if(this.uploadedFiles.length == 0) {
        this.uploadError = "Please select a file to upload";
        return false;
      }

      let formData = new FormData();
      for( let i = 0; i < this.uploadedFiles.length; i++ ) {
        let file = this.uploadedFiles[i].file;
        formData.append('files[' + i + ']', file);
      }

      this.isLoading = true;
      axios.post('/import-orders', formData, {
            headers: {
              'Content-Type': 'multipart/form-data'
            },
          }
      ).then(response => {
        this.isLoading = false;
        this.uploadedFiles = [];
        this.oldDownloadFile = '';
        this.uploadSuccess = "File(s) processed successfully";
        let errors = this.createErrorsHtml(response.data.errors);
        if(errors!="") {
          this.uploadError = errors;
        }

      }).catch(error=>{
        this.isLoading = false;
        if(error.response) {
          let errors = this.createErrorsHtml(error.response.data.errors);
          if(errors!="") {
            this.uploadError = errors;
          }

        } else {
          this.uploadError = 'Unexpected error happen, please try again';
        }
      });
    },
    createErrorsHtml(errors) {
      let error_msg = "";
      for(let k in errors) {
        error_msg+=" Error(s) in "+k+"</br>";
        for (let j in errors[k]) {
          error_msg+="&nbsp;&nbsp;Row "+(parseInt(j) + 1)+": <br>";
          for (let m in errors[k][j]) {
            error_msg+="&nbsp;&nbsp;&nbsp;&nbsp;"+errors[k][j][m][0]+"<br>";
          }
        }
      }

      return error_msg;
    },
    downloadSample(){
      var url = '/import-orders/download-sample-file';
      window.open(url);
    }

  },
  mounted() {

  }
}
</script>
