<template>
    <div class="container">
        <div class="flex-center position-ref full-height">
            <div class="code">404</div>

            <div class="message" style="padding: 10px;">Not Found</div>
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
