<template>
    <div class="row">
        <div class="hpanel">
            <div class="panel-heading hbuilt">
                Notifications
                <div class="pull-right">

                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-12">
                        <loading-spinner label="Loading notification" :show="isLoading"></loading-spinner>
                        <vuetable ref="notification_list"
                                  :api-url="apiurl"
                                  :fields="fields"
                                  :row-class="onRowClass"
                                  :css="css.table"
                                  data-path="data"
                                  :per-page="20"
                                  :append-params="notification_search_filters"
                                  :query-params="makeQueryParams"
                                  pagination-path=""
                                  @vuetable:loading="onLoading"
                                  @vuetable:loaded="onLoaded"
                                  @vuetable:load-error="onError"
                                  @vuetable:pagination-data="onPaginationData"
                        >
                            <template slot="userName" slot-scope="props">
                                    {{props.rowData.user.name}}
                            </template>
                            <template slot="status" slot-scope="props">
                                <a href="javascript:void(0);" style="color:#FFFFFF" v-b-popover.hover.top="getNotificationResult(props)" title="Result" :class="{'badge': true,'badge-warning':props.rowData.status == 0, 'badge-danger':props.rowData.status == 500, 'badge-success': props.rowData.status == 200}">
                                    {{gsettings.notifStatusses[props.rowData.status]}}
                                </a>
                            </template>
                        </vuetable>
                        <vuetable-pagination-info ref="paginationInfo" class="pull-left">

                        </vuetable-pagination-info>
                        <vuetable-pagination ref="pagination"
                                             :css="css.pagination"
                                             class="pull-right"
                                             @vuetable-pagination:change-page="onChangePage">
                        </vuetable-pagination>
                    </div>
                </div>
            </div>
        </div>

    </div>

</template>

<script>
     import settings from '../config/Settings';
     import VueTableCSS from "../config/VueTable";
     import VuetablePagination from 'vuetable-2/src/components/VuetablePagination';
     import VuetablePaginationInfo from 'vuetable-2/src/components/VuetablePaginationInfo';
     import Notif from "../util/Notification";
     import LoadingSpinner from "./ui/LoadingSpinner";

     export default {
        data() {
            return {
               // id : null,
                brData : "ddddd",
                css: VueTableCSS,
                apiurl: settings.apiBaseEndPoint+'/notifications',
                notification_search_filters: Notif.get(),
                isLoading: true,
                fields: [
                    {name: 'module', sortField: 'module', title: 'Module', width: "100px"},
                    {name: 'record_id', sortField: 'record_id', title: 'Waybill', width: "120px"},
                    {name: 'created_at', sortField: 'created_at', title: 'Created Date', width: "140px",
                        callback: (value)=>{ return this.$filters.datetime(value) }
                    },
                    {name: '__slot:userName', sortField: 'user.name', title: 'User', width: "140px"},
                    {name: '__slot:status', title: 'Status', width: "30px", class: "text-center"},
                ],
                gsettings: settings,
                pserror: '',
                showError: false,
                pssuccess: '',
                showSuccess: false,
                el: '#notification_list',
            }
        },
         created() {
             this.$settings.hideSideBar = true;
         },
         beforeRouteLeave (to, from, next) {
             this.$settings.hideSideBar = false;
             next();
         },
         components: {
              VuetablePaginationInfo, VuetablePagination, LoadingSpinner, Notif
         },
        methods: {
            getNotificationResult(row){
                let r =row.rowData.filename;
                if(row.rowData.result!==null){
                    if(row.rowData.status == 200) {
                        r = "Request processed successfully";
                    } else {
                        r = row.rowData.result;
                    }
                }
                return r;
            },
            makeQueryParams (sortOrder, currentPage, perPage) {
                return {
                    orderBy: sortOrder.length > 0? sortOrder[0].field: '',
                    byColumn: sortOrder.length > 0? sortOrder[0].direction: '',
                    page: currentPage,
                    limit: perPage
                }
            },
            onLoading(){
                this.isLoading = true;
            },
            onLoaded(){
                this.isLoading = false;
            },
            onPaginationData (paginationData) {
                this.$refs.pagination.setPaginationData(paginationData);
                this.$refs.paginationInfo.setPaginationData(paginationData);
            },
            onChangePage(page) {
                this.$refs.notification_list.changePage(page);
            },
            onRowClass (dataItem, index) {
                let c= '';
               if(dataItem.status == 500 ) {
                    c =  'cancelled-danger'
                }
                return c;
            },
            onError(error){
                let err = {...error.response.data}
                this.$root.$emit('showAlert', {
                    type: 'danger',
                    message: err.message,
                    errors: err.errors
                });
            }

        },
        mounted() {
            //this.id = this.$route.params.id;
         this.$root.$on('loadNotifications', (data) => {
                this.notification_search_filters =  data;
                this.$nextTick( () => this.$refs.notification_list.refresh() );
            });

        }
    }
</script>

<style scoped>
    .action{
        font-size:1.3em;
        margin-right:5px;
    }
    .shipped-danger {
        background: #ea0000;
    }
    .cancelled-danger {
        background: #dc725e;
    }
</style>

