<template>
    <div class="row">
        <div class="hpanel">
            <div class="panel-heading hbuilt">
                Orders List
                <div class="pull-right">

                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-12">
                        <loading-spinner label="Loading Orders" :show="isLoading"></loading-spinner>
                        <vuetable ref="orders_list"
                                  :api-url="apiurl"
                                  :fields="fields"
                                  :row-class="onRowClass"
                                  :css="css.table"
                                  data-path="data"
                                  :per-page="20"
                                  :append-params="search_filters"
                                  :query-params="makeQueryParams"
                                  pagination-path=""
                                  @vuetable:loading="onLoading"
                                  @vuetable:loaded="onLoaded"
                                  @vuetable:pagination-data="onPaginationData"
                        >
                            <template slot="actions" slot-scope="props">
                                <router-link :to="'/orders/details/'+props.rowData.OrderId" class="action" title="View Details">
                                    <i class="fa fa-desktop" aria-hidden="true"></i>
                                </router-link>
                            </template>
                        </vuetable>
                        <vuetable-pagination-info ref="paginationInfo" class="pull-left" no-data-template="">

                        </vuetable-pagination-info>
                        <vuetable-pagination ref="pagination"
                                             :css="css.pagination"
                                             class="pull-right"
                                             @vuetable-pagination:change-page="onChangePage">
                        </vuetable-pagination>
                    </div>
                </div>
            </div>
        </div>

    </div>

</template>

<script>
     import settings from '../config/Settings';
     import VueTableCSS from "../config/VueTable";
     import VuetablePagination from 'vuetable-2/src/components/VuetablePagination';
     import VuetablePaginationInfo from 'vuetable-2/src/components/VuetablePaginationInfo';
     import Order from "../util/Order";
     import LoadingSpinner from "./ui/LoadingSpinner";

     export default {
        data() {
            return {
                brData : "ddddd",
                css: VueTableCSS,
                apiurl: settings.apiBaseEndPoint+'/orders',
                search_filters: Order.get(),
                isLoading: true,
                fields: [
                    {name: 'OrderId', sortField: 'OrderId', title: 'Order ID', width: "100px"},
                    {name: 'ReferenceNum', sortField: 'ReferenceNum', title: 'Ref. Number', width: "120px"},
                    {name: 'PoNum', sortField: 'PoNum', title: 'Order No.', width: "120px"},
                    {name: 'TrackingNumber', sortField: 'TrackingNumber', title: 'Tracking No.', width: "120px"},
                    {name: 'ShipToName', sortField: 'ShipToName', title: 'Customer Name'},
                    {name: 'created_at', sortField: 'created_at', title: 'Created Date', width: "140px",
                        callback: (value)=>{ return this.$filters.datetime(value) }
                    },
                    {name: 'Status', sortField: 'Status', title: 'Status', width: "100px",
                        callback: (value)=> { return this.gsettings.orderStatusses[value] }
                    },
                    {name: '__slot:actions', title: 'Actions', width: "110px"},
                ],
                gsettings: settings,
                pserror: '',
                showError: false,
                pssuccess: '',
                showSuccess: false,
                orderid: '',
                el: '#orders',
            }
        },
         created() {
             this.$settings.hideSideBar = true;
         },
         beforeRouteLeave (to, from, next) {
             this.$settings.hideSideBar = false;
             next();
         },
         components: {
              VuetablePaginationInfo, VuetablePagination, LoadingSpinner
         },
        methods: {
            makeQueryParams (sortOrder, currentPage, perPage) {
                return {
                    orderBy: sortOrder.length > 0? sortOrder[0].field: '',
                    byColumn: sortOrder.length > 0? sortOrder[0].direction: '',
                    page: currentPage,
                    limit: perPage
                }
            },
            onLoading(){
                this.isLoading = true;
            },
            onLoaded(){
                this.isLoading = false;
            },
            onPaginationData (paginationData) {
                this.$refs.pagination.setPaginationData(paginationData);
                this.$refs.paginationInfo.setPaginationData(paginationData);
            },
            onChangePage(page) {
                this.$refs.orders_list.changePage(page);
            },
            onRowClass (dataItem, index) {
                return '';
            }

        },
        mounted() {
            this.$root.$on('loadOrders', (data) => {
                this.search_filters =  data;
                //this.$refs.orderListingTable.refresh();
                this.$nextTick( () => this.$refs.orders_list.refresh() );
            });


        }
    }
</script>

<style scoped>
    .action{
        font-size:1.3em;
        margin-right:5px;
    }
    .shipped-danger {
        background: #ea0000;
    }
    .cancelled-danger {
        background: #dc725e;
    }
</style>

