<template>
    <div>
        <div class="row detail">
            <div class="hpanel hblue">
                <div class="panel-heading hbuilt">
                    <div class="panel-tools">
                        <router-link :to="{name: 'orders'}">Back <i class="fa fa-reply"></i></router-link>
                    </div>
                    Order Info
                </div>
                <div class="panel-body">
                    <loading-spinner label="Order Info" :show="isLoading"></loading-spinner>
                    <div class="row">
                        <div class="col-md-5 col-lg-4 col-sm-12 border-right">
                            <dl class="dl-horizontal">
                                <dt>Transaction ID :</dt>
                                <dd>{{orderDetails.OrderId}}</dd>
                                <dt>Reference Number :</dt>
                                <dd>{{orderDetails.ReferenceNum}}</dd>
                                <dt>Tracking Number :</dt>
                                <dd>{{ orderDetails.TrackingNumber}}</dd>
                                <dt>PO Number :</dt>
                                <dd>{{ orderDetails.PoNum}}</dd>
                                <dt>Customer :</dt>
                                <dd>{{ orderDetails.SoldToName}}</dd>
                            </dl>
                        </div>
                        <div class="col-md-7 col-lg-8 col-sm-12">
                            <div class="row">
                                <div class="col-md-12">
                                    <table class="my-table table-condensed">
                                        <thead>
                                        <tr>
                                            <th>&nbsp;</th>
                                            <th>Ship To</th>
                                            <th>Sold  To</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <th>Name :</th>
                                            <td>{{orderDetails.ShipToName}}</td>
                                            <td>{{orderDetails.SoldToName}}</td>
                                        </tr>
                                        <tr>
                                            <th>Address 1 :</th>
                                            <td>{{orderDetails.ShipToAddress1}}</td>
                                            <td>{{orderDetails.SoldToAddress1}}</td>
                                        </tr>
                                        <tr>
                                            <th>Address 2 :</th>
                                            <td>{{orderDetails.ShipToAddress2}}</td>
                                            <td>{{orderDetails.SoldToAddress2 }}</td>
                                        </tr>
                                        <tr>
                                            <th>Post Code :</th>
                                            <td>{{orderDetails.ShipToPostalcode}}</td>
                                            <td>{{orderDetails.SoldToPostalcode}}</td>
                                        </tr>
                                        <tr>
                                            <th>City :</th>
                                            <td>{{orderDetails.ShipToCity}}</td>
                                            <td>{{orderDetails.SoldToCity}}</td>
                                        </tr>
                                        <tr>
                                            <th>State :</th>
                                            <td>{{orderDetails.ShipToState}}</td>
                                            <td>{{orderDetails.SoldToState}}</td>
                                        </tr>
                                        <tr>
                                            <th>Country :</th>
                                            <td>{{orderDetails.ShipToCountry}}</td>
                                            <td>{{orderDetails.SoldToCountry}}</td>
                                        </tr>
                                        <tr>
                                            <th>Phone :</th>
                                            <td>{{orderDetails.ShipToPhoneNum}}</td>
                                            <td>{{orderDetails.SoldToPhoneNum}}</td>
                                        </tr>
                                        <tr>
                                            <th>Email :</th>
                                            <td>{{orderDetails.ShipToEmail}}</td>
                                            <td>{{orderDetails.SoldToEmail}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="hpanel hblue">
                <div class="panel-heading hbuilt">
                    Order Items
                </div>
                <div class="panel-body">
                    <loading-spinner label="Order Items" :show="isLoading"></loading-spinner>
                    <div class="row">
                        <div class="col-sm-12 table-responsive" style="padding:0px">
                            <table class="table table-bordered table-condensed">
                                <thead>
                                <tr>
                                    <th>ItemId</th>
                                    <th>SKU</th>
                                    <th>Ordered Qty</th>
                                    <th>Status</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <template v-for="(del_item, index) in orderDetails.items">
                                    <tr>
                                        <td>{{del_item.OrderItemId}}</td>
                                        <td>{{del_item.Sku}}</td>
                                        <td>{{del_item.Qty}}</td>
                                        <td >{{labelStatusses[del_item.Status]}}</td>
                                    </tr>

                                    </template>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>


    </div>
</template>

<script>
    import LoadingSpinner from "./ui/LoadingSpinner";
    export default {
        data() {
            return {
                orderDetails : [],
                labelStatusses: this.$settings.labelStatusses,
                isLoading: true,
                id : null,
            }
        },
        components: {
            LoadingSpinner
        },
        methods: {
            getData(){

                var d = this.id;

                axios
                    .get('/orders/details/'+d)
                    .then(response => {
                        this.isLoading = false
                        this.orderDetails = response.data;
                        this.$root.$emit('loadOrderDetails', this.orderDetails);}
                    )
                    .catch(e => {
                        this.isLoading = false;
                        $('#overlay').hide();
                        this.ferr = 'some thing went wrong. please try again';
                    });

            },
            resetFilter() {
                this.getData();
            }
        },
        mounted() {
            this.getData();
            this.$emit('update-breadcrumb', [{route: 'Orders', params:'', title:'Orders'}])
        },
        created() {
            this.id = this.$route.params.id;
            this.$settings.hideSideBar = true;
        },
        beforeRouteLeave (to, from, next) {
            this.$settings.hideSideBar = false;
            next();
        }

    }
</script>

<style scoped>
    .my-table td, .my-table th {padding: 2px 5px;}
    .my-table tbody th{min-width: 120px; text-align: right; padding-right: 20px;}
    .cancelled-danger {
        border-top-color :red;
    }
</style>