<template>
    <div>
        <div class="row">
            <div class="hpanel">
                <div class="panel-heading hbuilt">
                    Products List
                    <div class="pull-right">
                        <div class="btn-group">
                            <!--button type="button" class="btn btn-default btn-sm float-right" title="Upload CSV" style="margin-top:-5px; margin-right:-5px" v-on:click="addProductSKUs" >
                                <span v-if="!showUpload"><i class="fa fa-plus"></i> Upload CSV</span>
                                <span v-else="showUpload"><i class="fa fa-minus"></i> Hide Upload</span>
                            </button-->
                            <a class="btn btn-sm btn-primary" href="javascript:void(0);" style="margin-top: -5px; margin-right:-5px;" title="Download as csv" @click="downloadCSV"><i class="fa fa-download" ></i> Download</a>
                        </div>

                    </div>
                </div>
                <div class="panel-body">
                    <div id="overlay">
                        <div class="loader">
                            <i class="fa fa-spinner fa-3x fa-spin text-green" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12" v-if="showUpload">
                            <label for="file" class="">Select CSV: <span class="text-warning "> <i class="fa fa-warning bold "></i> This will remove Machine batching for existing products.</span> </label>
                            <input type="file" id="file" ref="file" class="form-control-file btn btn-outline-dark" v-on:change="handleFileUpload()">
                            <p class="text-danger">{{ ferr }}</p>
                            <p class="text-success" >{{ fsuccess }}</p>
                        </div>
                        <div class="col-md-12">
                            <loading-spinner label="Loading Products" :show="isLoading"></loading-spinner>
                            <vuetable ref="products_list"
                                      :api-url="apiurl"
                                      :fields="fields"
                                      :css="css.table"
                                      data-path="data"
                                      :per-page="20"
                                      :append-params="search_filter"
                                      :query-params="makeQueryParams"
                                      pagination-path=""
                                      @vuetable:loading="onLoading"
                                      @vuetable:loaded="onLoaded"
                                      @vuetable:pagination-data="onPaginationData"
                            >
                                <!--<template slot="actions" slot-scope="props">
                                    <router-link :to="'/orders/details/'+props.rowData.DeliveryNumber" class="action" title="View Details">
                                        <i class="fa fa-info-circle" aria-hidden="true"></i>
                                    </router-link>
                                    <a href="javascript:void(0)" @click="updatePendingShip(props.rowData.DeliveryNumber)" class="action" title="Mark as pending" v-if="props.rowData.Status == 0">
                                        <i class="fa fa-hourglass-o" aria-hidden="true"></i>
                                    </a>
                                    <a href="javascript:void(0)" class="action" @click="updateException(props.rowData.DeliveryNumber)" title="Create Exception" v-if="props.rowData.Status == 0">
                                        <i class="fa fa-warning"></i>
                                    </a>
                                </template>-->
                            </vuetable>
                            <vuetable-pagination-info ref="paginationInfo" class="pull-left" no-data-template="">

                            </vuetable-pagination-info>
                            <vuetable-pagination ref="pagination"
                                                 :css="css.pagination"
                                                 class="pull-right"
                                                 @vuetable-pagination:change-page="onChangePage">
                            </vuetable-pagination>
                        </div>
                        <!--div class="col-sm-12" id="products">
                            <v-server-table  :columns="columns" :options="options" ref="productListingTable" ></v-server-table>
                        </div-->
                    </div>

                </div>
            </div>
        </div>

    </div>
</template>

<script type="text/ecmascript-6">
    import settings from '../config/Settings';
    import VueTableCSS from "../config/VueTable";
    import LoadingSpinner from "./ui/LoadingSpinner";
    import VuetablePagination from 'vuetable-2/src/components/VuetablePagination';
    import VuetablePaginationInfo from 'vuetable-2/src/components/VuetablePaginationInfo';
    import Product from "../util/Product";

    export default {
        data() {
            return {
                showUpload: false,
                file: '',
                ferr: '',
                fsuccess: '',
                el: '#products',
                css: VueTableCSS,
                apiurl: settings.apiBaseEndPoint+'/products',
                isLoading: true,
                fields: [
                    {name: 'ItemId', sortField: 'ItemId', title: 'Product ID', width: "120px"},
                    {name: 'Sku', sortField: 'Sku', title: 'SKU', width: "160px"},
                    {name: 'Price', sortField: 'Price', title: 'Price', width: "100px"},
                    {name: 'Upc', sortField: 'Upc', title: 'UPC', width: "120px"},
                    {name: 'created_at', sortField: 'created_at', title: 'Created Date', width: "140px",
                        callback: (value)=>{ return this.$filters.datetime(value) }
                    },
                ],
                search_filter: Product.get(),

            }
        },
        created() {
            this.$settings.hideSideBar = true;
        },
        beforeRouteLeave (to, from, next) {
            this.$settings.hideSideBar = false;
            next();
        },
        components: {
            LoadingSpinner, VuetablePagination, VuetablePaginationInfo
        },
        methods: {
            makeQueryParams (sortOrder, currentPage, perPage) {
                return {
                    orderBy: sortOrder.length > 0? sortOrder[0].field: '',
                    byColumn: sortOrder.length > 0? sortOrder[0].direction: '',
                    page: currentPage,
                    limit: perPage
                }
            },
            uploadFile(){
                $('#overlay').show();
                let formData = new FormData();
                formData.append('file', this.file);
                axios.post( '/product-upload-csv',
                    formData,
                    {
                        headers: {
                            'Content-Type': 'multipart/form-data'
                        }
                    }
                ).then(rdata => {
                    $('#overlay').hide();
                    if(rdata.data.status == 200) {
                        this.file = '';
                        this.fsuccess = 'File import done successfully';
                        this.$refs.productListingTable.refresh();
                    } else {
                        this.ferr = rdata.data.msg;
                    }
                })
                    .catch(e => {
                        $('#overlay').hide();
                        this.ferr = 'File not imported, some thing went wrong. please try again';
                    });
            },
            onLoading(){
                this.isLoading = true;
            },
            onLoaded(){
                this.isLoading = false;
            },
            onPaginationData (paginationData) {
                this.$refs.pagination.setPaginationData(paginationData);
                this.$refs.paginationInfo.setPaginationData(paginationData);
            },
            onChangePage(page) {
                this.$refs.products_list.changePage(page);
            },
            handleFileUpload() {
                this.file = this.$refs.file.files[0];

                // do validation //
                this.ferr = '';
                if(this.file.name.split(".").pop().toLowerCase() != 'csv') {
                    this.ferr = "Please select CSV file type";

                    return false;
                }

                // upload file //
                this.uploadFile();
            },
            addProductSKUs(){
                this.showUpload = !this.showUpload
            },
            downloadCSV() {

                let d = this.search_filter;
                var url = '/products/download/?'+Object.keys(d).map(function(k) {
                    return encodeURIComponent(k) + '=' + encodeURIComponent(d[k])
                }).join('&');
                window.open(url);
            }
        },
        mounted() {
            this.$root.$on('loadProducts', (data) => {
                this.search_filter = data;
                this.$nextTick( () => this.$refs.products_list.refresh() );
                //this.$refs.productListingTable.refresh();
            });
        }
    }
</script>

<style scoped>
</style>
