<template>
    <div>
        <div class="row">
            <div class="hpanel hblue">
                <div class="panel-heading hbuilt">
                    Products List
                    <div class="pull-right">
                        <button type="button" class="btn btn-outline-dark btn-sm float-right" title="Upload CSV" style="margin-top:-5px; margin-right:-5px" v-on:click="addProductSKUs" >
                            <span v-if="!showUpload"><i class="fa fa-plus"></i> Upload CSV</span>
                            <span v-else="showUpload"><i class="fa fa-minus"></i> Hide Upload</span>
                        </button>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div id="overlay">
                            <div class="loader">
                                <i class="fa fa-spinner fa-3x fa-spin text-green" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="col-sm-12" v-if="showUpload">
                            <label for="file" class="">Select CSV: <span class="text-warning "> <i class="fa fa-warning bold "></i> This will remove Machine batching for existing products.</span> </label>
                            <input type="file" id="file" ref="file" class="form-control-file btn btn-outline-dark" v-on:change="handleFileUpload()">
                            <p class="text-danger">{{ ferr }}</p>
                            <p class="text-success" >{{ fsuccess }}</p>
                        </div>
                        <div class="col-sm-12" id="products">
                            <v-server-table  :columns="columns" :options="options" ref="productListingTable" ></v-server-table>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</template>

<script type="text/ecmascript-6">

    export default {
        data() {
            return {
                showUpload: false,
                file: '',
                ferr: '',
                fsuccess: '',
                el: '#products',
                columns: ['SKU', 'Color', 'Size', 'Style','ExtProductName', 'UPC', 'COO', 'IsMachinePacking'],
                options: {
                    perPage: 10,
                    sortIcon: {
                        base : 'fa',
                        is: 'fa-sort',
                        up: 'fa-sort-asc',
                        down: 'fa-sort-desc'
                    },
                    headings: {
                        'SKU': 'SKU',
                        'Color': 'Color',
                        'Size': 'Size',
                        'Style': 'Style',
                        'ExtProductName': 'SKU Name',
                        'UPC': 'UPC',
                        'COO': 'COO',
                        'IsMachinePacking': 'AutoPack',
                    },
                    sortable: true,
                    filterable: false,
                    requestFunction: function (data) {

                        // set multi filter
                        var m = $('#sKeyword').val();
                        if(typeof m ==='undefined') {
                            m = '';
                        }
                        data.keyword = m;

                        return axios.get("/api/v1/products", {
                            params: data
                        }).catch(function (e) {
                            this.dispatch('error', e);
                        }.bind(this));
                    }
                },
                selected: [],
                selectAll: false

            }
        },
        created() {
            this.$settings.hideSideBar = true;
        },
        beforeRouteLeave (to, from, next) {
            this.$settings.hideSideBar = false;
            next();
        },
        methods: {
            uploadFile(){
                $('#overlay').show();
                let formData = new FormData();
                formData.append('file', this.file);
                axios.post( '/api/v1/product-upload-csv',
                    formData,
                    {
                        headers: {
                            'Content-Type': 'multipart/form-data'
                        }
                    }
                ).then(rdata => {
                    $('#overlay').hide();
                    if(rdata.data.status == 200) {
                        this.file = '';
                        this.fsuccess = 'File import done successfully';
                    } else {
                        this.ferr = rdata.data.msg;
                    }
                })
                    .catch(e => {
                        $('#overlay').hide();
                        this.ferr = 'File not imported, some thing went wrong. please try again';
                    });
            },
            handleFileUpload() {
                this.file = this.$refs.file.files[0];

                // do validation //
                this.ferr = '';
                if(this.file.name.split(".").pop().toLowerCase() != 'csv') {
                    this.ferr = "Please select CSV file type";

                    return false;
                }

                // upload file //
                this.uploadFile();
            },
            addProductSKUs(){
                this.showUpload = !this.showUpload
            }
        },
        mounted() {
            this.$root.$on('loadProducts', (p) => {
                this.$refs.productListingTable.refresh();
            });
        }
    }
</script>

<style scoped>
    #overlay{display: none;}
</style>
