<template>
    <div class="row">
      <div class="col-lg-6 col-sm-12 offset-lg-3">
        <div class="hpanel">
          <div class="panel-heading hbuilt">
            Waybill Upload Excel
          </div>
          <div class="alert alert-warning">
            <i class="fa fa-warning"></i>
            Select .xlsx file.
          </div>
          <div class="panel-body">
            <loading-spinner label="Processing Files" :show="isLoading"></loading-spinner>
            <label class="col-lg-12 col-sm-12 no-padding" style="margin-bottom: 12px">
              <b-form-select v-model="customerId" class="form-control" size="sm" :options="customer_list" style="font-size:13px" ></b-form-select>
            </label>

              <div class="col-sm-12" style="margin-bottom: 15px;border: 1px solid #e9e9e9;padding: 15px">
                  <div class="upload">
                      <ul v-if="uploadedFiles.length">
                          <li v-for="file in uploadedFiles" :key="file.id">
                              <span>{{file.name}}</span>
                              <span v-if="file.error">{{file.error}}</span>
                              <span v-else-if="file.success">success</span>
                              <span v-else-if="file.active">active</span>
                              <span v-else></span>
                          </li>
                      </ul>
                  </div>

                  <file-upload
                      class="text-green btn"
                      :multiple="false"
                      :drop="true"
                      :drop-directory="false"
                      v-model="uploadedFiles"
                      ref="files">Add More or Drop files
                  </file-upload>
                  <div v-show="$refs.files && $refs.files.dropActive" class="drop-active">
                      <h3>Drop files to upload</h3>
                  </div>
              </div>

            <div class="large-12 medium-12 small-12" v-if="uploadError || uploadSuccess" style="margin-bottom: 12px">
              <div class="col-sm-12 alert alert-danger" v-if="uploadError" v-html="uploadError"></div>
              <div class="col-sm-12 alert alert-success" v-if="uploadSuccess" v-html="uploadSuccess"></div>
            </div>
            <div class="large-12 medium-12 small-12">
              <button type="button" @click="submitFiles()" :disabled="uploadedFiles.length==0 || customerId==''" class="btn btn-primary btn-md mb-4"> <i class="fa fa-upload"></i> Upload</button>
            </div>
          </div>
        </div>
      </div>

    </div>
</template>

<script>
    import LoadingSpinner from "./ui/LoadingSpinner";

    export default {
        data() {
            return {
                isLoading : false,
                uploadError: '',
                uploadSuccess: '',
                customerId : '',
                customer_list: [],
                uploadedFiles: []
            }
        },
        components: {
            LoadingSpinner
        },
        created() {
            this.$settings.hideSideBar = false;
            this.getCustomers();
        },
        beforeRouteLeave (to, from, next) {
            this.$settings.hideSideBar = false;
            next();
        },
        methods: {
            submitFiles() {
                this.uploadError = '';
                this.uploadSuccess = '';

                let verrors = [];
                if(this.uploadedFiles.length == 0) {
                    verrors.push("Please select a file to upload");
                }

                if(this.customerId == '') {
                    verrors.push("Please select a customer");
                }

                if(verrors.length > 0) {
                    this.uploadError = verrors.join('<br>');
                    return false;
                }

                let formData = new FormData();
                formData.append('file', this.uploadedFiles[0].file);
                formData.append('customer_id', this.customerId);
                this.isLoading = true;
                axios.post('/uploadto3pl', formData, {
                        headers: {
                            'Content-Type': 'multipart/form-data'
                        },
                    }

                ).then(response => {
                    this.isLoading = false;
                    this.uploadSuccess = response.data.message;
                    this.customerId = '';
                    this.uploadedFiles = [];

                }).catch(error=>{
                    this.isLoading = false;
                    if(error.response) {
                        let err_msg = error.response.data.message;
                        let errors = error.response.data.errors;
                        if(typeof errors !=='undefined') {
                            for (let k in errors) {
                                err_msg+="<br>"+errors[k][0];
                            }
                        }
                        this.uploadError = err_msg;
                    } else {
                        this.uploadError = 'Unexpected error happen, please try again';
                    }
                });
            },

            getCustomers() {
                axios
                    .get('/customers')
                    .then(response => {
                        this.customer_list = response.data;
                    })
                    .catch(e => {
                        this.uploadError = 'Unexpected error happen, please try again';
                    });
            }


        },

        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
