#side-menu li.active {
    background: #fff;
    /*border-bottom: 1px solid #62cb31;;*/
}
/* Custom file input. */
.custom-file {
   position: relative;
   display: inline-block;
   width: 100%;
   height: 35px;
   margin-bottom: 0;
    cursor: pointer;
}

.custom-file-input {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 33px;
    margin: 0;
    opacity: 0;
    cursor: pointer;
}

.custom-file-label {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    height: 35px;
    padding: 3px 10px;
    line-height: 2;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    cursor: pointer;
    text-align: right;
}

.custom-file-label::after {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 3;
    display: block;
    height: 33px;
    padding: 3px 10px;
    line-height: 2;
    color: #495057;
    content: "Browse";
    background-color: #e9ecef;
    border-left: 1px solid #ced4da;
    border-radius: 0 .25rem .25rem 0;

}

.card{
    border: 0px;
}
.table thead, th{
    background-color: #e9ecef;
}


