<template>
    <div id="header" class="navbar-expand-lg">
        <div class="color-line"></div>
        <div id="logo" class="dark-version">
            <span>
                {{ this.application.name }}
            </span>
        </div>

        <!--Top Navigation -->
        <TopNav></TopNav>
    </div>
</template>

<script>
    import Settings from '../../config/Settings'
    import TopNav from "./TopNav";

    export default {
        name: "Header",
        data() {
            return {
                user: this.$user,
                application: this.$app,
                settings: Settings
            }
        },
        components:{
            TopNav
        },
        methods: {
            handleSidebarMinified: function(){
                this.settings.sidebarMinified = !this.settings.sidebarMinified;
                if (this.settings.sidebarMinified)
                    document.body.classList.add('hide-sidebar');
                else
                    document.body.classList.remove('hide-sidebar');
            },
            subIsActive(path) {
                const paths = Array.isArray(path) ? path : [path]
                return paths.some(path => {
                    console.log(this.$route.path.indexOf(path), path);
                    return this.$route.path.indexOf(path) === 0
                })
            }
        }
    }
</script>
