<template>
    <div>
        <div id="progress" class="row">
            <div class="hpanel hblue">
                <div class="panel-heading hbuilt">
                    Batching Progress
                    <div class="pull-right">

                    </div>
                </div>
                <div class="panel-body no-padding">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="alert alert-success" role="alert" v-if="this.jobs.length > 0">
                                OMS Import and Batching started on {{ startTime }}
                            </div>
                            <div class="list-group">
                                <template v-for="job in jobs">
                                    <div class="task-info list-group-item">
                                        <!--<h6 class="text-bold">{{ job.name }}</h6>-->
                                        <span class="task-desc">{{ job.name }}</span>
                                        <span class="percentage" v-if="job.percentage==100" style="padding-left:10px;" ><a href="javascript: void(0);" class="btn btn-warning btn-xs btn-outline" :data-params="job.request" @click="requeue($event)">Requeue</a></span>
                                        <span class="percentage">{{job.result}}</span>
                                        <b-progress height="25px">
                                            <b-progress-bar :value="job.percentage" :variant="job.bgcolor" striped show-progress :label="job.percentage+'%'"></b-progress-bar>
                                        </b-progress>
                                    </div>

                                </template>
                            </div>

                            <p v-if="noJobsMsg" style="padding-left: 10px;"> {{ noJobsMsg }}</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</template>

<script>
    export default {
        name: "JobQueues",
        data(){
            return {
                startTime: '',
                jobs: '',
                timer: null,
                noJobsMsg: null
            }
        },
        mounted(){

            this.fetchEvents();
            this.timer = setInterval(this.fetchEvents, 15000)

            // onqueue button click //
            this.$root.$on('loadJobs', (data) => {
                this.search_filters =  data;
                this.fetchEvents();
                this.timer = setInterval(this.fetchEvents, 15000);
            });
        },
        methods:{
            fetchEvents:function () {
                axios.get('/get-queue-jobs')
                    .then(response => {
                        this.jobs = response.data.jobList;
                        this.startTime = response.data.startTime;
                        if (response.data.hasDone){
                            clearInterval(this.timer);
                            this.$emit('processQueue', true);
                        } else {
                            this.$emit('processQueue', false);
                        }

                        if(this.jobs.length == 0) {
                            this.noJobsMsg = "No queue job to process";
                        }
                    });
            },
            requeue: function(e) {
                var params = JSON.parse($(e.target).attr('data-params'));
                params._method = "PUT";

                axios.post('/requeue', params)
                .then(response => {
                    if(response.status == 200) {
                        this.fetchEvents();
                        this.timer = setInterval(this.fetchEvents, 15000)

                    } else {
                        console.log(response.msg);
                    }

                })
                .catch(e => {
                    console.log(e);
                })

            }
        }

    }
</script>
