<template>
    <aside id="menu">
        <orders-filter v-if="show_orders"></orders-filter>
        <batches-report-filter v-if="show_batches_report"></batches-report-filter>
        <products-filter v-if="show_products"></products-filter>
        <order-details-filter v-if="show_order_details"></order-details-filter>
        <order-report-filter v-if="show_order_report"></order-report-filter>
        <notification-filter v-if="show_notifications"></notification-filter>
    </aside>
</template>

<script>

    import OrdersFilter from "./filters/Orders";
    import BatchesReportFilter from "./filters/BatchesReport";
    import ProductsFilter from "./filters/Products";
    import OrderDetailsFilter from "./filters/OrderDetails";
    import OrderReportFilter from "./filters/OrderReport";
    import NotificationFilter from "./filters/Notification";

    export default {
        name: "Sidebar",
        data() {
            return {
                show_orders: this.$route.name == 'orders'?  true : false,
                show_batches_report: this.$route.name == 'batches-report'?  true : false,
                show_products: this.$route.name == 'products'?  true : false,
                show_order_details: this.$route.name == 'orderdetails'?  true : false,
                show_order_report: this.$route.name == 'order-report'?  true : false,
                show_notifications: this.$route.name == 'notifications'?  true : false,
            }
        },
        computed:{

        },
        methods:{

        },
        components: {
            OrdersFilter, BatchesReportFilter, ProductsFilter, OrderDetailsFilter, OrderReportFilter, NotificationFilter
        }
    }
</script>

<style scoped>

</style>
