<template>
    <nav role="navigation" class="navbar" style="padding-top: 0px;">
        <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
        <b-collapse id="nav-collapse" is-nav>
            <ul class="nav navbar-nav" v-if="menus">
                <template v-for="menu in menus">
                    <nav-list ref="navList" v-bind:menu="menu" v-bind:key="menu.path" v-bind:status="menu.status" v-on:collapse-other="handleCollapseOther(menu)"></nav-list>
                </template>
            </ul>
            <div class="navbar-right ml-auto">
                <ul class="nav navbar-nav no-borders">
                    <li class="dropdown">
                        <a class="dropdown-toggle nav-link label-menu-corner" href="#" data-toggle="dropdown" aria-expanded="false">
                            <i class="fa fa-bell fa-1-5x"></i>
                            <span class="notification-count badge badge-danger" v-if="ncntr > 0">{{ncntr}}</span>
                        </a>
                        <ul class="dropdown-menu hdropdown notification dropdown-menu-right" id="notifications">
                            <li v-for="al in actionLogs" v-if="actionLogs.length > 0" :class="{'notify': true, 'success': al.status == 200, 'failed': al.status == 500, 'in-progress': al.status == 0}">
                                <a class="nav-link">
                                    <span class="font-bold">{{al.module}}</span> <br>
                                    <span class="notification-detail">{{al.label}}</span>
                                </a>
                            </li>
                            <li class="summary" v-if="actionLogs.length > 0">
                                <router-link to='notifications' class="action" title="Notifications">
                                See all notifications
                            </router-link>
                            </li>
                            <li v-if="actionLogs.length === 0" class="nav-link  text-center"><a>No data found</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a id="navbarDropdown" class="dropdown-toggle label-menu-corner nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ this.user.name }}
                        </a>
                        <ul class="dropdown-menu animated flipInX m-t-xs" style="margin-top: 0;">
                            <li class="dropdown-item"><a href="/change-password"><i class="fa fa-lock"></i> Change Password</a></li>
                            <li class="divider"><hr style="margin: 0;"></li>
                            <li class="dropdown-item"><a href="/logout"  onclick="event.preventDefault(); document.getElementById('logout-form').submit();"> <i class="fa fa-sign-out"></i> Logout</a></li>
                        </ul>

                    </li>
                </ul>
            </div>
        </b-collapse>
    </nav>
</template>

<script>
    import Menu from '../../config/Menu'
    import NavList from './NavList'

    export default {
        name: "TopNav",
        data (){
            return {
                menus: Menu,
                user: this.$user,
                application: this.$app,
                actionLogs : [],
                ncntr: 0,
                atimer: null,
                labelClassStatusCodes: this.$settings.labelClassStatusCodes,
                labelStatusCodes: this.$settings.labelStatusCodes
            }
        },
        components: {
            NavList
        },
        methods: {
            handleCollapseOther: function(menu) {
                for (let i = 0; i < this.menus.length; i++) {
                    this.$refs.navList[i].collapse(menu);
                }
            },
            /*getActonLogs() {
                axios.get('/get-action-logs')
                    .then(response => {
                        if(response.data.status == 200) {

                            if(response.data.new_cntr == 0) {
                                clearInterval(this.atimer);
                            }
                            this.actionLogs = response.data.data;
                            this.ncntr = response.data.new_cntr;
                        } else {
                            let data = {
                                "message": response.data.msg
                            };
                            data.type = 'danger';
                            this.$root.$emit('showAlert', data);
                        }

                    }).catch(e => {

                    let data = {
                        "message": "some thing went wrong. please try again"
                    };
                    data.type = 'danger';
                    this.$root.$emit('showAlert', data);
                });
            }*/
        },
        mounted() {

            /*this.getActonLogs();
            this.atimer = setInterval(this.getActonLogs, 5000);

            this.$root.$on('loadActions', (data) => {
                clearInterval(this.atimer);
                this.getActonLogs();
                this.atimer = setInterval(this.getActonLogs, 5000);
            });*/
        }
    }
</script>

<style scoped>
    .dropdown-menu.hdropdown.notification li{padding: 0px;}
    .notification .notification-detail{display: block;white-space: nowrap;}
</style>
