<template>
    <b-modal id="orders-info" size="lg" top  ref="orders-info" :title="orders.title" :hide-header-close="true">
        <template v-slot:modal-footer="{ ok, cancel, hide }">
            <button type="button" class="btn btn-secondary mr-auto" @click="cancel()">Close</button>
        </template>

        <div class="row">
            <div class="col-md-12 no-padding">
                <loading-spinner label="Loading Orders" :show="isLoading"></loading-spinner>
                <vuetable ref="orders_list"
                          :api-url="apiurl"
                          :fields="fields"
                          :css="css.table"
                          data-path="data"
                          :per-page="20"
                          :append-params="search_filters"
                          :query-params="makeQueryParams"
                          pagination-path=""
                          @vuetable:loading="onLoading"
                          @vuetable:loaded="onLoaded"
                          @vuetable:pagination-data="onPaginationData"
                >
                    <template slot="actions" slot-scope="props">
                        <router-link :to="'/orders/details/'+props.rowData.DeliveryNumber" target="_blank" class="action" title="View Details">
                            <i class="fa fa-desktop" aria-hidden="true"></i>
                        </router-link>

                    </template>
                </vuetable>
                <vuetable-pagination-info ref="paginationInfo" class="pull-left" v-if="is_pagination_info">

                </vuetable-pagination-info>
                <vuetable-pagination ref="pagination"
                                     :css="css.pagination"
                                     class="pull-right"
                                     @vuetable-pagination:change-page="onChangePage">
                </vuetable-pagination>
            </div>
        </div>

    </b-modal>
</template>

<script>
    import VueTableCSS from "../../config/VueTable";
    import LoadingSpinner from "../ui/LoadingSpinner";
    import VuetablePagination from 'vuetable-2/src/components/VuetablePagination';
    import VuetablePaginationInfo from 'vuetable-2/src/components/VuetablePaginationInfo';

    export default {
        name: "orders-info",
        props: {
            'orders': {type:Object, required: true},
        },
        data(){
            return {
                data : [],
                gsettings: this.$settings,
                apiurl: this.$settings.apiBaseEndPoint+'/get-dashboard-details',
                state:{
                    is_saving: false
                },
                file_info : {},
                css: VueTableCSS,
                perPage: 15,
                search_filters: {"typ": this.orders.otype},
                isLoading: true,
                is_pagination_info: true,
                fields: [
                    {name: 'DeliveryNumber', sortField: 'DeliveryNumber', title: 'Ref. Number', width: "120px"},
                    {name: 'Status', sortField: 'Status', title: 'Status', width: "100px",
                        callback: (value)=> { return this.gsettings.orderStatusses[value] }
                    },
                    {name: 'created_at', sortField: 'created_at', title: 'Created Date', width: "140px",
                        callback: (value)=>{ return this.$filters.datetime(value) }

                    },
                    {name: '__slot:actions', title: 'Actions', width: "110px"},
                ],
                labelStatusses: this.$settings.labelStatusses,
            }
        },
        components: {
            LoadingSpinner, VuetablePagination, VuetablePaginationInfo
        },
        mounted(){
            this.$refs['orders-info'].show();
            /*axios
                .get('/get-dashboard-details',{
                    params: {'typ': this.orders.otype},
                }).then(response => {
                if(response.status==200){
                    this.data =response.data;
                }else{
                    this.ferr =response.data;
                }

            })
            .catch(e => {
                $('#overlay').hide();
                this.ferr = 'some thing went wrong. please try again';
            });*/
        },
        methods:{
            makeQueryParams (sortOrder, currentPage, perPage) {
                return {
                    orderBy: sortOrder.length > 0? sortOrder[0].field: '',
                    byColumn: sortOrder.length > 0? sortOrder[0].direction: '',
                    page: currentPage,
                    limit: perPage
                }
            },
            onLoading(){
                this.isLoading = true;
            },
            onLoaded(){
                this.isLoading = false;
            },
            onPaginationData (paginationData) {
                this.$refs.pagination.setPaginationData(paginationData);
                this.$refs.paginationInfo.setPaginationData(paginationData);
                if(paginationData.data.length == 0) {
                    this.is_pagination_info = false;
                }
            },
            onChangePage(page) {
                this.$refs.orders_list.changePage(page);
            },
            saveFileDetails:function (bvModalEvt) {
                //todo: any function to update the
            }
        }
    }
</script>

<style>
    .modal-header {
        padding: 10px 30px;
    }
</style>
